<%= link_to '<<Back', posts_path %>
 
<body style="background-color:rgb(255,222,222)"></body>   
<p>
  <h2>Post:</h2>
  <%= @post.pbody %>
</p>


<p>
	
</p>

<p>
<%= render @post.comments %>


</p>

<p>


<strong>Add a comment:</strong>
	<%= render 'comments/form' %>
 
</p>
                                                                                                                                                                            